<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calis</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}">
</head>
<body>
    <div class="home-container">
        <h2>Calis - Your Pets' Social Media</h2>
        {% for instance_ in datas %}
            <div class="post-container">
                <div class="judul-container">
                    <h4>{{ instance_.judul }}</h4>
                </div>
                <div class="isi-container">
                    <p>{{ instance_.isi }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>