body {
    background-color: #F8F8F8;
}

.home-container {
    width: 50%;
    margin: auto;
    /* border-left: 1px solid black;
    border-right: 1px solid black; */
}


.post-container {
    /* border-bottom: 1px solid black; */
    padding: 1%;
    -webkit-box-shadow: 1px 2px 1px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 2px 1px 0px rgba(0,0,0,0.5);
    box-shadow: 1px 2px 1px 0px rgba(0,0,0,0.5);
    margin-bottom: 1%;
    background-color: white;
}
